<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>527A8DA91D6C40040028D832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527A8DBA1D6C40050028D832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527A8DC51D6C40050028D832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
